<p>CS for AP -lab 4</p>

<p>In-Lab Questionnaire</p>

<p>Name: Evan Scholl</p>

<p>If you are to supply answers to these questions in a plain text (.txt) file, paste this text into a plain text editor, insert your answers, and save it with the appropriate name. (See the try command.)</p>

<p>If you are to supply answers in an HTML (.html) file, edit a copy of this file. If you do not know how to edit HTML using a plain text editor, you should use a web page editor like Seamonkey Composer. Save it in your own account under the name expected for this lab. (See the try command.)</p>

<p>Question 4.1.</p>

<p>Pick some values of X and run both programs from the last two activities. For the restricted version, use a subset size of 3. Plot the numbers on a graph. You can use the provided steps to generate the jpeg image file of the graph or you may use any other program to plot your data (as long as you generate a jpeg file of your graph and call the file data.jpg).</p>

<p>When testing your programs for this activity you should run between 6-9 tests for each of the programs, ranging the set size from 4-25 to get a reasonable graph.</p>

<p>Briefly state your impressions of your results. Were they what you expected?</p>

<p>PUT YOUR ANSWER HERE.</p>

<p>They were pretty much what I expected. Knapsack exceeded KnapsackN by far, to the point where if the graph wasn't on a log scale KnapsackN wouldn't even be visible.  This comes as no surprise as Knapsack is just running KnapsackN as many times as the set size. For examples, my highest accesses with KnapsackN for a 24 size set was 6072, while my highest for Knapsack was 201326592.</p>