{% load staticfiles %}
<html>
  <head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <title>HealthNet</title>

	    <!-- Bootstrap -->
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" >
	</head>

	<body>
	<nav class="navbar navbar-default">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">HealthNet</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">Profile <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/calendar">Calendar</a></li>
        <li><a href="/about">About</a></li>
        <a href="/messages/base"><i class="fa fa-envelope-o"></i>         Messages</a>
        <li><a href="/logout"><div class="btn btn-primary navbar-btn" role="button" style="margin:0px;">Logout</div></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </nav>
        <div class="btn btn-default pull-left" style="margin:5px;">Make an Appointment</div>
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{ calendar }}
      </div>
        <div class = "col-sm-4"></div>
    </div>
    </div>
  </body>
</html>