{% extends 'main/base_nav.html' %}
{% load staticfiles %}
{% load main_extras %}
<!--
	Minimaxing by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
	{% block page-title %} Edit Profile {% endblock %}
		{% block head %}
			<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" >
		{% endblock %}

	<body>
		<div id="page-wrapper">
			{% block main %}
			{% include 'main/navbar.html' %}
			<div class="main">
				<div class="row" style="margin: 20px;"></div>
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
					    	<img class="img_prof" src="{{ MEDIA_URL }}{{ request.user.patient.avatar.url }}" alt="generic"  style="margin-bottom:10px;border: solid #000 3px; border-radius: 5px; width: 100%; margin-top: auto"/>
						</div>
						<div class="col-sm-10">
							<h3>
								{{request.user.first_name}} {{request.user.last_name}}
							</h3>
						</div>
					</div>
			    </div>
			    {% if form.errors %}
			        <!-- Error messaging -->
			            <div id="errors">
			                <div class="inner" >
			                    <p>There were some errors in the information you entered. Please correct the following:</p>
			                    {{ form.non_field_errors }}
			                    <ul>
			                        {% for field in form %}
			                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
			                        {% endfor %}
			                    </ul>
			                </div>
			            </div>
				<!-- /Error messaging -->
			    {% endif %}

			    <form enctype="multipart/form-data" action="{% url 'main:edit_profile'%}" method="post"> <!-- start form -->
			        {% csrf_token %}
			        <div class="row">
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
                            {{ form.avatar }}
			            </div>
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Password:<br>
			                {{ form.password }}
                            {{ form.password_confirm }}
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                First Name:<br>
			                {{ form.first_name }}
			            </div>
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Last Name:<br>
			                {{ form.last_name }}
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Email:<br>
			                {{ form.email }}
			            </div>
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Preferred Hospital:<br>
			                {{ form.preferred_hospital }}
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Date of Birth:<br>
			                {{ form.date_of_birth }}

			            </div>
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Address:<br>
			                {{ form.address1 }}
							{{ form.address2 }}
							{{ form.city }}
							{{ form.region }}
							{{ form.zip }}
							{{ form.country }}
						</div>
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Insurance:<br>
			                {{ form.insurance_company }}
			                {{ form.insurance_number }}
			            </div>
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Emergency Contact:<br>
			                {{ form.emergency_contact_name }}
			                {{ form.emergency_phone_number }}
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-sm-1"></div>
			            <div class="col-sm-4">
			                Medical Conditions:<br>
			                {{ form.medical_conditions }}
			            </div>
			        </div>
			        <input class="button_temp pull-right" type="submit" name="edit" value="Submit" style="margin-right: 10px;"/>
			        <a class="button_temp pull-left" href="{% url 'main:profile' %}" role="button" style="margin-left: 10px;">Back</a>

			    </form><!-- end form -->
			    <div class="row" style="margin: 20px;"></div>
			</div>
			<div class="row">
				<div class="12u">
					<div id="copyright">
						&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					</div>
				</div>
			{% endblock %}
			</div>


			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>