{% load staticfiles %}
<html>
<head>
    <link rel="shortcut icon" href="{% static 'main/images/bkz_io.png' %}"/>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HealthNet</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'css/logout_screen.css' %}">
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-11 well">
            <p>
                Logout Successful!
            </p>
        </div>
        <div class="col-sm-1">
            <a href="/login"><div class="btn btn-default" role="button">Logout</div></a>
        </div>
    </div>
    </div>
</body>
</html>