{% extends 'main/base_nav.html' %}
{% load staticfiles %}
{% load main_extras %}

{% block page-title %} Logout {% endblock page-title %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" >
{% endblock head %}

{% block main %}
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="row" style="margin:20px;"></div>
			</div>
			<div class="main">
				<div class="container">
				    <div class="row">
						<div class="col-sm-12 well">
							<p>
								Logout Successful!
							</p>
						<a href="/"><div class="btn btn-default pull-right" role="button">Home</div></a>
						</div>
					</div>
					</div>
							</div>
							<div class="row">
								<div class="12u">
									<div id="copyright">
										&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
									</div>
								</div>
			</div>

{% endblock main %}