{% extends 'main/base_nav.html' %}
{% load staticfiles %}
{% load main_extras %}

{% block page-title %} Make Appointment {% endblock page-title %}
		
{% block main %}
		<div id="page-wrapper">
			{% include 'main/navbar.html' %}
			<div class="main">
				<form method = 'post'>
					{% csrf_token %}
					<div class="well">
						<h2>Make an Appointment</h2>
					</div>

					<div class="container">
						<div class="row">
							<div>
								{{ form.hospital }}
							</div>
						</div>
						<div class="row">
							<div>
								{{ form.doctor }}
							</div>
						</div>
						<div class="row">
							<div>
								{{ form.start_date }}
							</div>
						</div>

						<div class="row">
							<div>
								{{ form.start_time }}
							</div>
						</div>

						<div class="row">
							<div>
								{{ form.description }}
							</div>
						</div>

						<div class="row">
							<div>
								{{ form.patient }}
							</div>
						</div>


						<div class="row">
							<div>
								{{form.verified.label_tag}}
								{{ form.verified }}

							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 20px"></div>

					<input class="button_temp pull-right" role="button" type="submit" value="Submit" style="margin-right: 375px"/>
					<a class="button_temp pull-left" href="{% url 'fullcalendar:index' %}" role= "button" style="margin-left: 375px">Back</a>
					<div class="row" style="margin:5px;"></div>


					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
					<!-- Include all compiled plugins (below), or include individual files as needed -->
					<script src="js/bootstrap.min.js"></script>
					</form>
			</div>
			<div class="row">
				<div class="12u">
					<div id="copyright">
						&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					</div>
				</div>
			</div>
{% endblock main %}