{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Minimaxing by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>HealthNet - </title>
		<link rel="shortcut icon" href="{% static 'main/images/bkz_io.png' %}"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
		<script src="https://use.fontawesome.com/d4ff336425.js"></script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" >
		<link rel="stylesheet" href="{% static 'css/profile.css' %}" >
	</head>
	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container_temp">
					<div class="row_temp">
						<div class="12u">
							<header id="header">
								<h1><a href="#" id="logo">HealthNet</a></h1>
								<nav id="nav">
									<a href="{% url 'main:home' %}"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Home</a>
									<a href="/profile"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Profile</a>
									<a href="/calendar"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Calendar</a>
									<a href="/about"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;About</a>
									<a href="/messages/base" class="current-page-item"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp;Messages</a>
									<a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Logout</div></a>
								</nav>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div class="main">
				<div class="row" style="margin:20px;"></div>
				<form method="post">
			        {% csrf_token %}
			        <div class="container">
			                <div class="row">
			                    <div class="col-sm-10">
			                        <h2 class="well">
			                            Message your Doctor
			                        </h2>
			                    </div>
			                </div>
			                <div class="row">
			                    {{form.doctor}}
			                </div>
			                <div class="row">
			                    {{form.subject}}
			                </div>
			                <div class="row">
			                    {{form.message}}
			                </div>
			        </div>
			        <input class="button_temp pull-right" type="submit" value="Submit"/>
			    </form>
			</div>
			<div class="row" style="margin:20px;"></div>
			<div class="row">
				<div class="12u">
					<div id="copyright">
						&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					</div>
				</div>
			</div>


			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>