{% load staticfiles %}
{% load main_extras %}
<div id="header-wrapper">
	<div class="container_temp">
		<div class="row_temp">
			<div class="12u">
				<header id="header">
					<h1><a href="#" id="logo">HealthNet</a></h1>
					<nav id="nav">
                        {% if user.is_authenticated %}
                            <a href="{% url 'main:home' %}"  class="{if view.__class__.__name__ == HomeView}"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
                            {% if request.user.is_superuser %}
                                 <a href="/adminc" class="{% block admin-active %}{% endblock %}"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Admin</a>
                                {% endif %}
                            {% if user|usercheck:"patient" %}
                                <a href="/profile" class="{% block profile-active %}{% endblock %}"><i class="fa fa-user"></i>&nbsp;&nbsp;Profile</a>
                            {% else %}
                             <a href="/patients" class="{% block patients-active %}{% endblock %}"><i class="fa fa-users"></i>&nbsp;&nbsp;Patients</a>
                            {% endif %}
						    <a href="/calendar" class="{% block cal-active %}{% endblock %}"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Calendar</a>
						    <a href="/messages/base" class="{% block mess-active %}{% endblock %}"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Messages</a>
                            <a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login/Register</a>
                        {% endif %}
					</nav>
				</header>
			</div>
		</div>
	</div>
</div>

