{% extends 'main/base_nav.html' %}
{% load staticfiles %}
{% load main_extras %}
<!DOCTYPE HTML>
<!--
	Minimaxing by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% block page-title %} Patients {% endblock page-title %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" >
{% endblock head %}
	
	{% block main %}
		<div id="page-wrapper">
			{% include 'main/navbar.html' %}
			<div class="main">
				<div class="row" style="margin:20px"></div>
				<div class="row">
			        <div class="col-sm-1"></div>
			        <div class="col-sm-5 well"><h2>Select Patient</h2></div>
			    </div>
			    <div class="row">
			        <div class="col-sm-1"></div>
			        <div class="col-sm-5 well well-tall">
			            {% block content %}
			                <div class= "Patients" style="animation: fadein 1.5s 1;">
			                    {% for patient in patient_list %}
			                        <div style="padding-bottom: 7px">
			                            <a class = "nav_link" href="{% url 'main:viewPatient' pk=patient.pk%}" style="font-size: 20px;">{{ patient.get_name }}</a>
			                        </div>
			                    {% endfor %}
			                </div>

			            {% endblock %}
			        </div>
			    </div>
			</div>
			<div class="row">
				<div class="12u">
					<div id="copyright">
						&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					</div>
				</div>
			</div>
	{% endblock main %}