{% extends 'main/base_nav.html' %}
{% load staticfiles %}
{% load main_extras %}
<!DOCTYPE HTML>
<!--
	Minimaxing by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
		{% block page-title %} Login {% endblock %}
		{% block head %}
		<link rel="stylesheet" href="{% static 'css/profile.css' %}" >
		{% endblock head %}
	<body>
	{% block main %}
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container_temp">
					<div class="row_temp">
						<div class="12u">
						<div class="row">
							<div class="col-sm-2">
								<i class="fa fa-heartbeat fa-5x fa-pull-left fa-inverse" style="padding-top:20px"></i>
							</div>
							<div class="col-sm-8">
							<header id="header">
								<h1><a href="#" id="logo">HealthNet</a></h1>
							</header>
							</div>
							<div class="col-sm-2">
								<i class="fa fa-heartbeat fa-5x fa-pull-right fa-inverse" style="padding-top:20px"></i>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main">	
				<div class="row" style="margin-bottom: 30px;"></div>
				<div class="container">
					<div class="row" align ="center">
						<div class="4u 12u" algin="center">
							<div class="panel panel-default">
							  <div class="panel-heading" align="center">Please Log In</div>
							  <div class="panel-body">
							    {% if form.non_field_errors %}
								    <ul class='form-errors'>
								        {% for error in form.non_field_errors %}
								            <li>{{ error }}</li>
								        {% endfor %}
								    </ul>
								{% endif %}
								<form method="post" action="/login/" style="margin:1px;">
								    {% csrf_token %}
								<table>
									<tr>
									    <td>{{ form.username.label_tag }}</td>
									    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
									    <td>{{ form.username }}</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
									    <td>{{ form.password.label_tag }}</td>
									    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
									    <td>{{ form.password }}</td>
									</tr>
								</table>
								<div class="row" style="margin:10px;"></div>
									<a class="button_temp" type="submit" href = "{% url 'main:register1' %}" role="button">Register</a>
								    <input type="hidden" name="next" value="{{ next }}" />
								    <input class="button_temp pull-right" type="submit" value="Login" style="margin-right: 40px"/>
								</form>
							  </div>
							</div>	
						</div>
					</div>
				</div>
	
			</div>
			<div class="row">
				<div class="12u">
					<div id="copyright">
								&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					</div>
				</div>
			</div>

	{% endblock main %}
	</body>
</html>