{% load fullcalendar_tags %}
{% load staticfiles %}
{% load main_extras %}
<!DOCTYPE HTML>
<!--
	Minimaxing by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>HealthNet | Calendar</title>
		<link rel="shortcut icon" href="{% static 'main/images/bkz_io.png' %}"/>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
		<script src="https://use.fontawesome.com/d4ff336425.js"></script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" >

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% fullcalendar_css %}        
        {% fullcalendar_print_css %}        
        {% fullcalendar_jquery %}
        {% fullcalendar_jquery_ui %}
        {% fullcalendar_javascript %}
        
        {% calendar_init calendar_config_options %}
	</head>
	<body>
		<div id="page-wrapper">
			{% include 'main/navbar.html' %}
			<div class="container">
				<a class="button_temp pull-left" href = "{% url 'fullcalendar:makeAppointment' %}" role="button" style="margin:5px;"><i class="fa fa-calendar-plus-o"></i>&nbsp;&nbsp;Make an Appointment</a>
    			<div class="row" style="margin: 15px; width:100%;">
      				<div class="col-sm-12">
        				{% block content %}

        				{% endblock %}
      				</div>
    			</div>
    					
    		<div class="row">
						<div class="12u">

							<div id="copyright">
								&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
							</div>

						</div>
					</div>
    		</div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>