{% extends 'main/base_nav.html' %}
{% load staticfiles %}
{% load main_extras %}

{% block page-title %} Edit Appointment {% endblock %}

{% block head %}
		<link rel="stylesheet" href="{% static 'css/profile.css' %}" >
{% endblock %}

{% block main %}
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container_temp">
					<div class="row_temp">
						<div class="12u">
							<header id="header">
								<h1><a href="#" id="logo">HealthNet</a></h1>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div class="main">
				<div class="row" style="margin:20px;"></div>
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
				{% if form.errors %}
			        <!-- Error messaging -->
			            <div id="errors">
			                <div class="inner" >
			                    <p>There were some errors in the information you entered. Please correct the following:</p>
			                    {{ form.non_field_errors }}
			                    <ul>
			                        {% for field in form %}
			                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
			                        {% endfor %}
			                    </ul>
			                </div>
			            </div>
				<!-- /Error messaging -->
			 	{% endif %}

			    <form method = 'post'>
			        {% csrf_token %}
			        <div class="container">
							<div class="row">
								<div>
									{{ form.hospital }}
								</div>
							</div>
							<div class="row">
								<div>
									{{ form.doctor }}
								</div>
							</div>
							<div class="row">
								<div>
									{{ form.start_date }}
								</div>
							</div>
							<div class="row">
								<div>
									{{ form.start_time }}
								</div>
							</div>
							<div class="row">
								<div>
									{{ form.end_date }}
								</div>
							</div>
							<div class="row">
								<div>
									{{ form.end_time }}
								</div>
							</div>
			                <div class="row">
								<div>
									{{ form.description }}
								</div>
							</div>
							<div class="row">
								<div>
									{{ form.patient }}
								</div>
							</div>
							<div class="row">
								<div>
									{{form.verified.label_tag}}
									{{ form.verified }}

								</div>
							</div>
			        </div>

			        <a href="{% url 'fullcalendar:detail' pk=view.kwargs.pk %}" class="button_temp pull-left" />Back</a>
			        <input class="button_temp pull-right" role="button" type="submit" value="Submit Edits" />

			    </form>
			    </div>
			    <div class="col-sm-3"></div>
				<div class="row" style="margin:20px;"></div>
			</div>
			<div class="row">
				<div class="12u">
					<div id="copyright">
						&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					</div>
				</div>
			</div>
{% endblock main %}