{% extends 'main/base_nav.html' %}
{% load staticfiles %}
{% load main_extras %}

{% block page-title %} Confirm Appointment {% endblock page-title %}

{% block head %}
		<link rel="stylesheet" href="{% static 'css/profile.css' %}" >
{% endblock head %}

{% block main %}
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container_temp">
					<div class="row_temp">
						<div class="12u">
							<header id="header">
								<h1><a href="#" id="logo">HealthNet</a></h1>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div class="main">
				<div class="row" style="margin:20px;"></div>
				<form method="post">
                    {% csrf_token %}
				    <h3>Are you sure you want to verify the following appointment?</h3>
                        Patient: {{ view.event.patient.get_name }}<br>
                        Appointment: {{ view.event.title }}<br>
                        Location: {{ view.event.hospital }}<br>
                        Time: {{ view.event.start.time }} <br>
                        Date: {{ view.event.start.date }}<br>
                        Doctor: {{ view.event.doctor.get_name }}<br><br>
                        Before verifying, please confirm that this appointment does no conflict with any pre-existing appointments.  <br>
                        Confirm? {{ form.confirm }} <br>
			        <a class="button_temp pull-left" href="{% url 'fullcalendar:detail' pk=view.event.pk%}" role="button" style="margin-right: 5px;">Back</a>
			        <input class="button_temp_red pull-left" type="submit" name="edit" value="Verify"/>
				</form>
				<div class="row" style="margin:20px;"></div>
			</div>
			<div class="row">
				<div class="12u">
					<div id="copyright">
						&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
					</div>
				</div>
			</div>
{% endblock main %}